{% extends 'base.twig' %}
{% block body%}

{% set url = "" %}

{% for item in data %}
<div class="note">
    <p>
    <a href="/articles/{{ item.url }}?aid={{ item.id }}&id=0"><h2>{{ item.header }}</h2></a>
    </p>
    <p>
        <span class="date">{{ item.date }}</span>
        <span class="name">{{ item.name }}</span>
    </p>
    <p>
        {{ item.content }}
        {% set url = item.url %}
    </p>
    
</div>

{% endfor %}
    <p>Комментарии</p>
    <p>
        {{include ('comments.twig')}}
    </p>
    <p>
        {% if username %}
        <div id="form">
            <form action="" method="post">
                <p><input type="text" class="form-control" name="comment" placeholder="Ваш комментарий"></p>
                <p><input name="add_comment_to_article" type="submit" class="btn btn-info btn-block" value="Оставить комментарий"></p>
            </form>
        </div>
        {% endif %}
    </p>

{% endblock %}