<ul>
    {% for item in comments %}

        {% if item.children %}
            <li>
                 <b>{{ item.name }} </b> <br>
                 {{ item.comment }} <br>
                <a href="/articles/{{ url }}?id={{ item.id }}&pid={{ item.pid }}&aid={{ item.aid }}">Ответить</a>
            </li>
                {% include 'comments.twig' with {'comments': item.children} %}
        {% else %}
            <li>
                <b>{{ item.name }}</b> <br>
                {{ item.comment }} <br>
                <a href="/articles/{{ url }}?id={{ item.id}}&pid={{ item.pid }}&aid={{ item.aid }}">Ответить</a>
            </li>
        {% endif %}

    {% endfor %}

    
</ul>
