{% extends 'base.twig' %}
{% block body%}
<h2>Страница регистрации</h2>

<div id="form">
    {% if message.success %}
        <div class="text-success">{{message.success}}</div>
    {% endif %}
        <form action="" method="post">
            <p><input type="text" name="name_reg" value="{{data.name}}" placeholder="Введите имя" class="form-control"></p>
                {% if message.e_username %}
                    <div class="text-danger">{{message.e_username}}</div><br>
                {% endif %}
            <p><input type="email" name="email_reg" value="{{data.email}}" placeholder="Введите email" class="form-control"></p>
                {% if message.e_email %}
                    <div class="text-danger">{{message.e_email}}</div><br>
                {% endif %}
            <p><input type="password" name="pass_reg" placeholder="Введите пароль" class="form-control"></p>
                {% if message.e_pass %}
                    <div class="text-danger">{{message.e_pass}}</div><br>
                {% endif %}
            <p><input name="reg_button"type="submit" class="btn btn-info btn-block" value="Зарегистрироваться"></p>
        </form> 
    </div>

{% endblock %}